<nav>
    <ul>
        <li><a [routerLink]="['/genre']">Genres</a></li>
        <li *ngIf="!isLoggedIn()"><a [routerLink]="['/login']">Login</a></li>
        <li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
    </ul>
</nav>