.block {
    position: absolute;
    top: 20%;
}
.block.large {
    height: 100px;
    width: 100px;
}

.block.medium {
    height: 50px;
    width: 50px;
}

.block.small {
    height: 25px;
    width: 25px;
}

.layer1 {
    width: 500px;
    height: 500px;
    background-color: grey;
}

.layer2,
.layer3,
.layer4 {
    position: absolute;
    width: 500px;
    height: 500px;
}

.layer2 .block {
    background-color: yellow;
}

.layer3 .block {
    background-color: red;
}

.layer4 .block {
    background-color: black;
}
