<div id="search-component">
    <label for="search-box"></label>
    <input
        id="search-box"
        #searchBox
        type="text"
        (input)="search(searchBox.value)"
    />

    <ul class="search-result">
        <!-- async permet de souscrire à une valeur observable dans un ngfor, heroes$ étant un observable<hero[]>, cela permet d'effectuer notre ngfor sur une valeur observable-->
        <li *ngFor="let hero of heroes$ | async">
            <a routerLink="/detail/{{ hero.id }}"> {{ hero.name }}</a>
        </li>
    </ul>
</div>
