<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Mon premier Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        {{ form_start(articleForm) }}
        {{ form_label(articleForm.title) }}
        {{ form_widget(articleForm.title) }}

        {{ form_row(articleForm.content) }}
        {{ form_row(articleForm.categories) }}
        {{ form_row(articleForm.submit) }}

        {{ form_end(articleForm) }}
    </body>
</html>
