<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Mon premier Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>Bienvenue dans mon blog</h1>
        <div>
            {% for article in articles %}
            <div>
                <h2>
                    {{ article.title }}
                </h2>
                {% if article.author %}
                    {{ article.author }}
                {% endif %}
                {% for category in article.categories %}
                <a href="{{path("articleByCategory", { "name" : category.name })}}">
                    <em>{{ category }}</em>
                </a>
                {% endfor %}
                <p>
                    {{ article.content }}
                </p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
