<div *ngIf="genre">
    <span *ngIf="!editMode" (dblclick)="toggleEdit()">
        {{ genre.name }}
    </span>
    <form *ngIf="formUpdate && editMode" [formGroup]="formUpdate" (ngSubmit)="update()">
        <input (focusout)="toggleEdit()" appAutofocus type="text" formControlName="name" />
        <button (mousedown)="update()">update</button>
    </form>
</div>