<div *ngIf="hero">
    <h3>{{ hero.name | uppercase }} Details</h3>
    <div><span>id: </span>{{ hero.id }}</div>
    <div>
        <label for="name">Hero name :</label>
        <input id="name" [(ngModel)]="hero.name" placeholder="name" />
    </div>
    <div>
        <label for="rating">Hero Rating ({{ hero.rating }})</label>
        <input
            id="rating"
            [(ngModel)]="hero.rating"
            type="range"
            min="0"
            max="10"
        />
    </div>
    <button (click)="goBack()">Go Back</button>
    <button (click)="save()">Save</button>
</div>
