<app-genre-create *ngIf="isLoggedIn()" (onCreate)="created($event)"></app-genre-create>

<div *ngFor="let genre of genres">
    <a routerLink="/genre/{{ genre.id }}">
        {{ genre.name }}
    </a>
    <button *ngIf="isLoggedIn()" (click)="delete(genre.id)">x</button>
</div>